[package]
name = "database-utils"
version = "0.1.0"
edition = "2024"

[dependencies]
application-utils = { path = "../../utils/application" }
async-graphql = { workspace = true }
background-models = { path = "../../models/background" }
chrono = { workspace = true }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
dependent-models = { path = "../../models/dependent" }
enum-models = { path = "../../models/enum" }
file-storage-service = { path = "../../services/file-storage" }
fitness-models = { path = "../../models/fitness" }
futures = { workspace = true }
itertools = { workspace = true }
jwt-service = { path = "../../services/jwt" }
media-models = { path = "../../models/media" }
migrations = { path = "../../migrations" }
markdown = { workspace = true }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
sea-orm = { workspace = true }
serde = { workspace = true }
supporting-service = { path = "../../services/supporting" }
tracing = { workspace = true }
user-models = { path = "../../models/user" }
uuid = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["tracing"]
