[package]
name = "database-utils"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true }
itertools = { workspace = true }
markdown = { workspace = true }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
sea-orm = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }

background-models = { workspace = true }
cache-service = { workspace = true }
common-models = { workspace = true }
common-utils = { workspace = true }
database-models = { workspace = true }
dependent-models = { workspace = true }
enum-models = { workspace = true }
file-storage-service = { workspace = true }
media-models = { workspace = true }
session-service = { workspace = true }
supporting-service = { workspace = true }
user-models = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["rust_decimal", "tracing"]
