[package]
name = "statistics-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
cache-service = { workspace = true }
hashbag = { workspace = true }
itertools = { workspace = true }
sea-orm = { workspace = true }
tokio = { workspace = true }

common-models = { workspace = true }
database-models = { workspace = true }
dependent-models = { workspace = true }
enum-models = { workspace = true }
supporting-service = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["tokio"]
