[package]
name = "dependent-review-utils"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
rust_decimal = { workspace = true }
sea-orm = { workspace = true }
tracing = { workspace = true }

background-models = { workspace = true }
common-models = { workspace = true }
database-models = { workspace = true }
database-utils = { workspace = true }
dependent-details-utils = { workspace = true }
dependent-utility-utils = { workspace = true }
enum-models = { workspace = true }
media-models = { workspace = true }
supporting-service = { workspace = true }
user-models = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["rust_decimal"]
