.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/*/coverage
*.db
*.db-shm
*.db-wal
.DS_Store
.dev.vars
.env
.moon/cache
.moon/docker
.react-router
.next/
.pnp.*
Thumbs.db
build
computed-config.*
nextjs-routes.d.ts
node_modules
out/
target
tmp
/config/ryot.json
.venv
**/public/workbox-*.js
**/public/*.worker.js
**/public/workbox-*.js.map
**/public/sw.js
**/public/sw.js.map
**/public/worker-*.js
**/public/worker-*.js.map
**/kodi/LICENSE
**/.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.output
.nuxt
.nitro
.cache
docs/site
apps/docs/.vitepress/dist
apps/docs/.vitepress/cache
.wxt
web-ext.config.ts
node_modules
.cache
.astro
dist
.vscode/settings.json
templates
.claude/settings.local.json
