# System Files
.DS_Store
Thumbs.db

tmp
target
.env
.dev.vars

surreal.db

# dependencies
node_modules

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# next.js
.next/
out/
build
nextjs-routes.d.ts

# moon
.moon/cache
.moon/docker

# tests
**/*/coverage
