[workspace]
members = ["apps/backend", "libs/config", "libs/database", "libs/rs-utils"]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.79"
async-graphql = { version = "7.0.1", features = [
    "chrono",
    "decimal",
    "log",
    "tracing",
    "uuid",
] }
chrono = "0.4.33"
schematic = { version = "0.13.5", features = [
    "config",
    "json",
    "schema",
    "template",
    "toml",
    "typescript",
    "type_chrono",
    "type_rust_decimal",
    "url",
    "yaml",
], default-features = false }
sea-orm = { version = "0.12.12", features = [
    "debug-print",
    "postgres-array",
    "macros",
    "runtime-tokio-rustls",
    "sqlx-postgres",
    "with-chrono",
    "with-json",
    "with-rust_decimal",
    "with-uuid",
], default-features = false }
sea-orm-migration = "0.12.12"
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.112"
strum = { version = "0.25.0", features = ["derive"] }
tracing = { version = "0.1.40", features = ["attributes"] }

[workspace.metadata.dist]
cargo-dist-version = "0.2.0"
ci = ["github"]
installers = ["shell", "powershell"]
targets = [
    "x86_64-unknown-linux-gnu",
    "x86_64-apple-darwin",
    "aarch64-apple-darwin",
]

[profile.dist]
inherits = "release"
opt-level = 's'
strip = true
lto = "thin"
