[workspace]
members = [
    "apps/backend",
    "crates/enums",
    "libs/config",
    "crates/migrations",
    "libs/rs-utils",
    "crates/models/common",
]
resolver = "2"

[workspace.dependencies]
anyhow = "=1.0.82"
async-graphql = { version = "=7.0.7", features = [
    "chrono",
    "decimal",
    "log",
    "tracing",
] }
chrono = "=0.4.38"
dotenvy_macro = "=0.15.7"
nanoid = "=0.4.0"
schematic = { version = "=0.16.6", features = [
    "config",
    "json",
    "schema",
    "toml",
    "renderer_typescript",
    "type_chrono",
    "type_rust_decimal",
    "url",
    "renderer_template",
    "yaml",
], default-features = false }
sea-orm = { version = "=1.0.0-rc.5", features = [
    "debug-print",
    "postgres-array",
    "macros",
    "runtime-tokio-native-tls",
    "sqlx-postgres",
    "with-chrono",
    "with-json",
    "with-rust_decimal",
    "with-uuid",
], default-features = false }
sea-orm-migration = "=1.0.0-rc.5"
serde = { version = "=1.0.204", features = ["derive"] }
serde_json = "=1.0.120"
strum = { version = "=0.26.2", features = ["derive"] }
tracing = { version = "=0.1.40", features = ["attributes"] }
