[workspace]
members = [
    "apps/backend",
    "libs/rs-utils",
]
resolver = "2"

[workspace.dependencies]
async-graphql = { version = "6.0.1", features = [
    "chrono",
    "decimal",
    "log",
    "uuid",
] }
sea-orm = { version = "0.12.2", features = [
    "debug-print",
    "macros",
    "runtime-tokio-rustls",
    "sqlx-mysql",
    "sqlx-postgres",
    "sqlx-sqlite",
    "with-chrono",
    "with-uuid",
    "with-rust_decimal",
] }
serde = { version = "1.0.183", features = ["derive"] }
serde_json = "1.0.104"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.0.7"
# The preferred Rust toolchain to use in CI (rustup toolchain syntax)
rust-toolchain-version = "1.70.0"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# The installers to generate for each app
installers = ["shell", "powershell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-unknown-linux-gnu", "x86_64-apple-darwin", "x86_64-pc-windows-msvc", "aarch64-apple-darwin"]

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
opt-level = 's'
strip = true
lto = "thin"
