[workspace]
members = ["apps/backend", "libs/rs-utils"]
resolver = "2"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.2.0"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# The installers to generate for each app
installers = ["shell", "powershell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "x86_64-unknown-linux-gnu",
    "x86_64-apple-darwin",
    "aarch64-apple-darwin",
]

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
opt-level = 's'
strip = true
lto = "thin"

# FIXME: Remove this and upgrade apalis directly
[patch.crates-io]
apalis = { git = 'https://github.com/geofmureithi/apalis.git', branch = "chore/cron-add-timezone" }
