[workspace]
members = ["apps/backend", "libs/config", "libs/database", "libs/rs-utils"]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.82"
async-graphql = { version = "7.0.3", features = [
    "chrono",
    "decimal",
    "log",
    "tracing",
    "uuid",
] }
chrono = "0.4.38"
schematic = { version = "0.15.1", features = [
    "config",
    "json",
    "schema",
    "toml",
    "renderer_typescript",
    "type_chrono",
    "type_rust_decimal",
    "url",
    "renderer_template",
], default-features = false }
sea-orm = { version = "0.12.15", features = [
    "debug-print",
    "postgres-array",
    "macros",
    "runtime-tokio-rustls",
    "sqlx-postgres",
    "with-chrono",
    "with-json",
    "with-rust_decimal",
    "with-uuid",
], default-features = false }
sea-orm-migration = "0.12.15"
serde = { version = "1.0.198", features = ["derive"] }
serde_json = "1.0.116"
strum = { version = "0.26.2", features = ["derive"] }
tracing = { version = "0.1.40", features = ["attributes"] }

[profile.release]
opt-level = 's'
strip = true
lto = "thin"
