# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Ryot
site_url: https://ignisda.github.io/ryot
site_description: Ryot Documentation
repo_url: https://github.com/ignisda/ryot
dev_addr: '0.0.0.0:8000'

theme:
  name: material
  language: en
  logo: https://raw.githubusercontent.com/IgnisDa/ryot/main/apps/frontend/public/icon-512x512.png
  favicon: https://raw.githubusercontent.com/IgnisDa/ryot/main/apps/frontend/public/favicon-32x32.png
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: indigo
      accent: indigo
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: indigo
      accent: indigo

plugins:
  - search
  - macros

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra:
  file_path: https://github.com/ignisda/ryot/tree/main