[package]
name = "backend"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/IgnisDa/ryot"
license = "GPL-3.0"

[dependencies]
anyhow = { workspace = true }
apalis = { workspace = true }
async-graphql = { workspace = true }
async-graphql-axum = "=7.0.7"
axum = { workspace = true }
aws-sdk-s3 = { workspace = true }
background = { path = "../../crates/background" }
chrono = { workspace = true }
chrono-tz = { workspace = true }
config = { path = "../../crates/config" }
dotenvy = "=0.15.7"
http = "=1.1.0"
itertools = { workspace = true }
logs-wheel = "=0.3.1"
migrations = { path = "../../crates/migrations" }
models = { path = "../../crates/models" }
nanoid = { workspace = true }
openidconnect = { workspace = true }
reqwest = { workspace = true }
resolvers = { path = "../../crates/resolvers" }
schematic = { workspace = true }
sea-orm = { workspace = true }
sea-orm-migration = { workspace = true }
serde_json = { workspace = true }
services = { path = "../../crates/services" }
tokio = { workspace = true }
tower = { version = "=0.4.13", features = ["buffer"] }
tower-http = { version = "=0.5.2", features = ["catch-panic", "cors", "trace"] }
tracing = { workspace = true }
tracing-subscriber = "=0.3.18"
utils = { path = "../../crates/utils" }
