[package]
name = "ryot"
version = "1.19.1"
edition = "2021"
repository = "https://github.com/IgnisDa/ryot"
license = "GPL-V3"

[dependencies]
anyhow = "1.0.72"
apalis = { version = "0.4.4", features = ["cron", "extensions", "limit", "sqlite"] }
argon2 = "0.5.0"
async-graphql = { version = "6.0.0", features = [
    "chrono",
    "decimal",
    "log",
    "uuid",
] }
async-graphql-axum = "6.0.0"
async-trait = "0.1.72"
aws-sdk-s3 = "0.28.0"
axum = { version = "0.6.19", features = ["macros", "multipart"] }
chrono = "0.4.26"
convert_case = "0.6.0"
const-str = "0.5.6"
cookie = "0.17.0"
csv = "1.2.2"
darkbird = "6.1.8"
dotenvy = "0.15.7"
enum_meta = "0.6.0"
futures = "0.3.28"
graphql_client = "0.13.0"
harsh = "0.2.2"
hashbag = "0.1.11"
http = "0.2.9"
http-types = "2.12.0"
isolang = { version = "2.3.0", features = ["list_languages"] }
itertools = "0.11.0"
markdown = "1.0.0-alpha.11"
mime_guess = "2.0.4"
nanoid = "0.4.0"
quick-xml = { version = "0.30.0", features = ["serde", "serialize"] }
regex = "1.9.1"
retainer = "0.3.0"
rust-embed = "6.8.1"
rust_decimal = "1.31.0"
rust_decimal_macros = "1.31.0"
schematic = { version = "0.11.0", features = [
    "schema",
    "toml",
    "typescript",
    "yaml",
    "valid_url"
] }
sea-orm = { version = "0.12.1", features = [
    "debug-print",
    "macros",
    "runtime-tokio-rustls",
    "sqlx-mysql",
    "sqlx-postgres",
    "sqlx-sqlite",
    "with-chrono",
    "with-uuid",
    "with-rust_decimal",
] }
sea-orm-migration = "0.12.1"
sea-query = "0.30.0"
serde = { version = "1.0.179", features = ["derive"] }
serde_json = "1.0.104"
serde_with = { version = "3.1.0", features = ["chrono_0_4"] }
slug = "0.1.4"
sqlx = "*"
specta = { version = "1.0.5", features = ["typescript", "chrono", "rust_decimal", "export"] }
strum = { version = "0.25.0", features = ["derive"] }
surf = { version = "2.3.2", features = [
    "h1-client-rustls",
], default-features = false }
surf-governor = "0.2.0"
surf-retry = "0.3.0"
tokio = { version = "1.29.1", features = ["full"] }
tower-cookies = "0.9.0"
tower-http = { version = "0.4.3", features = ["catch-panic", "cors", "trace"] }
tracing = "0.1.37"
tracing-appender = "0.2.2"
tracing-subscriber = "0.3.17"
uuid = "1.4.1"

[dev-dependencies]
rstest = "0.18.1"

[features]
development = []
