[package]
name = "ryot"
version = "3.0.1"
edition = "2021"
repository = "https://github.com/IgnisDa/ryot"
license = "GPL-V3"

[dependencies]
anyhow = { workspace = true }
apalis = { version = "0.4.5", features = [
    "cron",
    "extensions",
    "limit",
    "sqlite",
] }
argon2 = "0.5.2"
async-graphql = { workspace = true }
async-graphql-axum = "6.0.7"
async-trait = "0.1.74"
aws-sdk-s3 = "0.33.0"
axum = { version = "0.6.20", features = ["macros", "multipart"] }
axum-extra = { version = "0.8.0", default-features = false, features = [
    "cookie",
] }
boilermates = "0.3.0"
chrono = { workspace = true }
chrono-tz = "0.8.3"
config = { path = "../../libs/config" }
convert_case = "0.6.0"
const-str = "0.5.6"
cookie = "0.18.0"
csv = "1.3.0"
database = { path = "../../libs/database" }
derive_more = { version = "1.0.0-beta.3", features = [
    "add",
    "sum",
    "add_assign",
], default-features = false }
dotenvy = "0.15.7"
enum_meta = "0.6.0"
flate2 = "1.0.28"
futures = "0.3.28"
graphql_client = "0.13.0"
harsh = "0.2.2"
hashbag = "0.1.11"
http = "0.2.9"
http-types = "2.12.0"
isolang = { version = "2.3.0", features = ["list_languages"] }
itertools = "0.11.0"
jsonwebtoken = { version = "9.0.0", default-features = false }
kinded = "0.3.0"
markdown = "1.0.0-alpha.14"
mime_guess = "2.0.4"
nanoid = "0.4.0"
quick-xml = { version = "0.30.0", features = ["serde", "serialize"] }
rand = "0.8.5"
regex = "1.10.2"
retainer = "0.3.0"
rs-utils = { path = "../../libs/rs-utils" }
rust-embed = "8.0.0"
rust_decimal = "1.32.0"
rust_decimal_macros = "1.32.0"
rust_iso3166 = "0.1.11"
schematic = { workspace = true }
scraper = "0.17.1"
sea-orm = { workspace = true }
sea-orm-migration = { workspace = true }
sea-query = "0.30.2"
semver = "1.0.20"
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { version = "3.4.0", features = ["chrono_0_4"] }
serde-xml-rs = "0.6.0"
slug = "0.1.4"
sqlx = "0.7.2"
sonyflake = "0.2.0"
strum = { workspace = true }
surf = { version = "2.3.2", features = [
    "h1-client-rustls",
], default-features = false }
surf-governor = "0.2.0"
surf-retry = "0.3.2"
tokio = { version = "1.33.0", features = ["full"] }
tower-http = { version = "0.4.4", features = ["catch-panic", "cors", "trace"] }
tracing = { version = "0.1.39", features = ["attributes"] }
tracing-appender = "0.2.2"
tracing-subscriber = "0.3.17"
uuid = "1.5.0"
