[package]
name = "ryot"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/IgnisDa/ryot"
license = "GPL-3.0"

[dependencies]
anyhow = { workspace = true }
apalis = { version = "=0.5.3", features = ["cron", "limit"] }
argon2 = "=0.6.0-pre.1"
askama = "0.12.1"
async-graphql = { workspace = true }
async-graphql-axum = "=7.0.7"
async-trait = "=0.1.81"
axum = { version = "=0.7.5", features = ["macros", "multipart"] }
aws-sdk-s3 = { workspace = true }
boilermates = "=0.3.0"
cached = { version = "=0.53.1", features = ["disk_store"] }
chrono = { workspace = true }
chrono-tz = "=0.9.0"
common_models = { path = "../../crates/models/common" }
compile-time = "=0.2.0"
config = { path = "../../libs/config" }
convert_case = "=0.6.0"
const-str = "=0.5.7"
csv = "=1.3.0"
data-encoding = "=2.6.0"
derive_more = { version = "=1.0.0-beta.6", features = [
    "add",
    "sum",
    "add_assign",
], default-features = false }
dotenvy = "=0.15.7"
dotenvy_macro = { workspace = true }
educe = { version = "=0.6.0", features = ["Debug"], default-features = false }
enums = { path = "../../crates/enums" }
enum_meta = "=0.7.0"
file_storage_service = { path = "../../crates/services/file_storage" }
flate2 = "=1.0.30"
futures = "=0.3.30"
graphql_client = "=0.14.0"
hashbag = "=0.1.12"
http = "=1.1.0"
isolang = { version = "=2.4.0", features = ["list_languages"] }
itertools = "=0.13.0"
jsonwebtoken = { version = "=9.3.0", default-features = false }
lettre = "=0.11.7"
markdown = "=1.0.0-alpha.18"
migrations = { path = "../../crates/migrations" }
mime_guess = "=2.0.5"
nanoid = { workspace = true }
openidconnect = "=3.5.0"
paginate = "=1.1.11"
radarr-api-rs = "=3.0.1"
rand = "=0.9.0-alpha.2"
regex = "=1.10.5"
# FIXME: Upgrade once https://github.com/seanmonstar/reqwest/pull/1620 is merged
reqwest = { git = "https://github.com/thomasqueirozb/reqwest", branch = "base_url", features = [
    "json",
    "stream",
] }
rs-utils = { path = "../../libs/rs-utils" }
rust_decimal = "=1.35.0"
rust_decimal_macros = "=1.35.0"
rust_iso3166 = "=0.1.13"
schematic = { workspace = true }
scraper = "=0.19.1"
sea-orm = { workspace = true }
sea-orm-migration = { workspace = true }
sea-query = "=0.31.0-rc.9"
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { version = "=3.9.0", features = ["chrono_0_4"] }
serde-xml-rs = "=0.6.0"
slug = "=0.1.5"
sonarr-api-rs = "=3.0.0"
strum = { workspace = true }
struson = { version = "=0.5.0", features = ["serde"] }
tokio = { version = "=1.39.2", features = ["full"] }
tokio-util = { version = "=0.7.11", features = ["codec"] }
tower = { version = "=0.4.13", features = ["buffer"] }
tower-http = { version = "=0.5.2", features = ["catch-panic", "cors", "trace"] }
tracing = { workspace = true }
tracing-subscriber = "=0.3.18"
logs-wheel = "=0.3.1"
uuid = { version = "=1.10.0", features = ["v4"], default-features = false }
