[package]
name = "ryot"
version = "1.14.1"
edition = "2021"
repository = "https://github.com/IgnisDa/ryot"
license = "GPL-V3"

[dependencies]
anyhow = "1.0.70"
apalis = { version = "0.4.0", features = ["cron", "extensions", "limit", "sqlite"] }
argon2 = "0.5.0"
async-graphql = { version = "5.0.7", features = [
    "chrono",
    "decimal",
    "log",
    "uuid",
] }
async-graphql-axum = "5.0.7"
async-trait = "0.1.68"
aws-sdk-s3 = "0.28.0"
axum = { version = "0.6.12", features = ["macros", "multipart"] }
chrono = "0.4.24"
convert_case = "0.6.0"
const-str = "0.5.5"
cookie = "0.17.0"
csv = "1.2.2"
darkbird = "6.1.6"
dotenvy = "0.15.7"
enum_meta = "0.6.0"
futures = "0.3.28"
graphql_client = "0.13.0"
harsh = "0.2.2"
http = "0.2.9"
http-types = "2.12.0"
isolang = { version = "2.3.0", features = ["list_languages"] }
itertools = "0.10.5"
markdown = "1.0.0-alpha.10"
mime_guess = "2.0.4"
nanoid = "0.4.0"
quick-xml = { version = "0.28.2", features = ["serde", "serialize"] }
regex = "1.8.1"
retainer = "0.3.0"
rust-embed = "6.6.1"
rust_decimal = "1.29.1"
rust_decimal_macros = "1.29.1"
schematic = { version = "0.11.0", features = [
    "schema",
    "toml",
    "typescript",
    "yaml",
    "valid_url"
] }
sea-orm = { version = "0.11.1", features = [
    "debug-print",
    "macros",
    "runtime-tokio-rustls",
    "sqlx-mysql",
    "sqlx-postgres",
    "sqlx-sqlite",
    "with-chrono",
    "with-uuid",
    "with-rust_decimal",
] }
sea-orm-migration = "0.11.1"
sea-query = "0.28.4"
serde = { version = "1.0.159", features = ["derive"] }
serde_json = "1.0.96"
serde_with = { version = "3.0.0", features = ["chrono_0_4"] }
slug = "0.1.4"
sqlx = "*"
strum = { version = "0.24.1", features = ["derive"] }
surf = { version = "2.3.2", features = [
    "h1-client-rustls",
], default-features = false }
surf-governor = "0.2.0"
surf-retry = "0.3.0"
tokio = { version = "1.27.0", features = ["full"] }
tower-cookies = "0.9.0"
tower-http = { version = "0.4.0", features = ["catch-panic", "cors", "trace"] }
tracing = "0.1.37"
tracing-subscriber = "0.3.16"
uuid = "1.3.1"

[dev-dependencies]
rstest = "0.17.0"

[features]
development = []
