[package]
name = "ryot"
version = "4.0.15"
edition = "2021"
repository = "https://github.com/IgnisDa/ryot"
license = "GPL-V3"

[dependencies]
anyhow = { workspace = true }
apalis = { version = "0.4.7", features = [
    "cron",
    "extensions",
    "limit",
    "sqlite",
] }
argon2 = "0.5.2"
async-graphql = { workspace = true }
async-graphql-axum = "6.0.11"
async-trait = "0.1.77"
aws-sdk-s3 = { version = "1.11.0", features = ["behavior-version-latest"] }
axum = { version = "0.6.20", features = ["macros", "multipart"] }
boilermates = "0.3.0"
chrono = { workspace = true }
chrono-tz = "0.8.5"
config = { path = "../../libs/config" }
convert_case = "0.6.0"
const-str = "0.5.6"
csv = "1.3.0"
database = { path = "../../libs/database" }
derive_more = { version = "1.0.0-beta.6", features = [
    "add",
    "sum",
    "add_assign",
], default-features = false }
dotenvy = "0.15.7"
enum_meta = "0.6.0"
flate2 = "1.0.28"
futures = "0.3.30"
graphql_client = "0.13.0"
harsh = "0.2.2"
hashbag = "0.1.11"
http = "0.2.9"
http-types = "2.12.0"
isolang = { version = "2.4.0", features = ["list_languages"] }
itertools = "0.12.0"
jsonwebtoken = { version = "9.2.0", default-features = false }
kinded = "0.3.0"
markdown = "1.0.0-alpha.15"
nanoid = "0.4.0"
rand = "0.8.5"
regex = "1.10.2"
retainer = "0.3.0"
rs-utils = { path = "../../libs/rs-utils" }
rust_decimal = "1.33.1"
rust_decimal_macros = "1.33.1"
rust_iso3166 = "0.1.11"
schematic = { workspace = true }
scraper = "0.18.1"
sea-orm = { workspace = true }
sea-orm-migration = { workspace = true }
sea-query = "0.30.3"
semver = "1.0.21"
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { version = "3.4.0", features = ["chrono_0_4"] }
serde-xml-rs = "0.6.0"
slug = "0.1.5"
sqlx = { version = "0.7.3", default-features = false }
strum = { workspace = true }
surf = { version = "2.3.2", features = [
    "h1-client-rustls",
], default-features = false }
tokio = { version = "1.34.0", features = ["full"] }
tower-http = { version = "0.4.4", features = ["catch-panic", "cors", "trace"] }
tracing = { version = "0.1.40", features = ["attributes"] }
tracing-subscriber = "0.3.18"
logs-wheel = "0.3.1"
uuid = "1.6.1"
