---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main>
    <div class="py-56 flex flex-col gap-y-32">
      <div class="px-3 text-center">
        <h1 class="text-5xl md:text-6xl font-bold">Features</h1>
        <p class="text-slate-500 mt-16 md:text-xl">
          An overview of all the features Ryot Pro provides.
        </p>
      </div>
      <div class="px-4 md:px-60 gap-y-6 flex flex-col">
        <h2 class="text-2xl font-semibold md:text-4xl md:font-normal">
          Recommendations
        </h2>
        <div
          class="gap-y-5 flex flex-col items-center justify-between md:gap-x-10 md:flex-row"
        >
          <img
            src="images/features/recommendations.png"
            class="lg:w-[600px] border rounded-lg shadow-lg"
          />
          <p class="md:text-xl">
            A new section called "Recommendations" is added to the Dashboard
            where you can view personalized suggestions based on your recent
            media consumption. They are refreshed every hour.
          </p>
        </div>
      </div>
      <div class="px-4 md:px-60 gap-y-6 flex flex-col">
        <h2 class="text-2xl font-semibold md:text-4xl md:font-normal">
          Collection Collaboration
        </h2>
        <div
          class="gap-y-5 flex flex-col items-center justify-between md:gap-x-10 md:flex-row"
        >
          <p class="md:text-xl">
            You can add other users to your collections. This feature is useful
            when you want to share your collection with your friends or family .
            They can also add or remove media from it.
          </p>
          <img
            src="images/features/add-to-others-collection.png"
            class="lg:w-[600px] border rounded-lg shadow-lg"
          />
        </div>
      </div>
    </div>
    <Footer data={data.footerData} />
  </main>
</Layout>
