---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main>
    <div class="py-56 flex flex-col gap-y-32">
      <div class="px-3 text-center">
        <h1 class="text-5xl md:text-6xl font-bold">Features</h1>
        <p class="text-slate-500 mt-16 md:text-xl">
          An overview of all the features Ryot Pro provides.
        </p>
      </div>
      <div class="px-3 md:px-60 gap-y-6 flex flex-col">
        <h2 class="text-2xl font-semibold md:text-4xl md:font-normal">
          Recommendations
        </h2>
        <div class="flex items-center justify-between gap-x-6">
          <img src="images/features/recommendations.png" class="lg:w-[600px]" />
          <p class="text-xl">
            A new section is added to the Dashboard where you can view
            personalized recommendations based on your recent media consumption.
            They are refreshed every hour.
          </p>
        </div>
      </div>
    </div>
    <Footer data={data.footerData} />
  </main>
</Layout>
