[package]
name = "miscellaneous-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
rust_decimal = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }

background-models = { workspace = true }
cache-service = { workspace = true }
database-utils = { workspace = true }
dependent-jobs-utils = { workspace = true }
dependent-models = { workspace = true }
media-models = { workspace = true }
supporting-service = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["rust_decimal", "tracing"]
