[package]
name = "miscellaneous-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
rust_decimal = { workspace = true }
sea-orm = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }

background-models = { workspace = true }
common-models = { workspace = true }
database-models = { workspace = true }
dependent-core-utils = { workspace = true }
dependent-details-utils = { workspace = true }
dependent-entity-list-utils = { workspace = true }
dependent-jobs-utils = { workspace = true }
dependent-models = { workspace = true }
dependent-notification-utils = { workspace = true }
dependent-review-utils = { workspace = true }
enum-models = { workspace = true }
media-models = { workspace = true }
miscellaneous-background-service = { workspace = true }
miscellaneous-calendar-service = { workspace = true }
miscellaneous-entity-user-details-service = { workspace = true }
miscellaneous-general-service = { workspace = true }
miscellaneous-lookup-service = { workspace = true }
miscellaneous-metadata-operations-service = { workspace = true }
miscellaneous-progress-service = { workspace = true }
miscellaneous-review-service = { workspace = true }
miscellaneous-search-service = { workspace = true }
miscellaneous-trending-and-events-service = { workspace = true }
supporting-service = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["rust_decimal", "tracing"]
