[package]
name = "miscellaneous-service"
version = "0.1.0"
edition = "2021"

[dependencies]
apalis = { workspace = true }
application-utils = { path = "../../utils/application" }
async-graphql = { workspace = true }
background = { path = "../../background" }
cached = { workspace = true }
chrono = { workspace = true }
chrono-tz = { workspace = true }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
config = { path = "../../config" }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enums = { path = "../../enums" }
file-storage-service = { path = "../../services/file-storage" }
futures = { workspace = true }
itertools = { workspace = true }
markdown = { workspace = true }
media-models = { path = "../../models/media" }
migrations = { path = "../../migrations" }
nanoid = { workspace = true }
notification-service = { path = "../../services/notification" }
providers = { path = "../../providers" }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
sea-orm = { workspace = true }
sea-query = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
slug = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
traits = { path = "../../traits" }
user-models = { path = "../../models/user" }
uuid = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["tracing"]
