[package]
name = "config"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
common-utils = { path = "../utils/common" }
schematic = { workspace = true }
serde = { workspace = true }
