[[language]]
name = "typescript"
auto-format = true
formatter = { command = "npx", args = [
    "biome",
    "format",
    "--stdin-file-path",
    "source.ts",
] }

[[language]]
name = "javascript"
auto-format = true
formatter = { command = "npx", args = [
    "biome",
    "format",
    "--stdin-file-path",
    "source.js",
] }

[[language]]
name = "json"
auto-format = true
formatter = { command = "npx", args = [
    "biome",
    "format",
    "--stdin-file-path",
    "source.json",
] }

[[language]]
name = "tsx"
auto-format = true
formatter = { command = "npx", args = [
    "biome",
    "format",
    "--stdin-file-path",
    "source.tsx",
] }

[[language]]
name = "jsx"
auto-format = true
formatter = { command = "npx", args = [
    "biome",
    "format",
    "--stdin-file-path",
    "source.jsx",
] }

[language-server.yaml-language-server.config.yaml]
format = { enable = true }
validation = true
