.text {
  @mixin dark {
    color: white;
  }
}

.imagesContainer {
  flex: none;
  width: 100%;
  @media (min-width: $mantine-breakpoint-md) {
    width: 35%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
