.starIcon {
  color: #9CA3AF;
  &:hover {
    color: #eBE600FF;
  }
}

.text {
  @mixin dark {
    color: white;
  }
}

.imagesContainer {
  width: 100%;
  flex: none;
  @media (min-width: $mantine-breakpoint-md) {
    width: 35%;
  }
}

.mediaImage {
  &:hover {
    box-shadow: 0 0 10px black;
  }
}
