.starIcon {
  color: #9ca3af;
  &:hover {
    color: #ebe600ff;
  }
}

.text {
  @mixin dark {
    color: white;
  }
}

.imagesContainer {
  flex: none;
  width: 100%;
  @media (min-width: $mantine-breakpoint-md) {
    width: 35%;
  }
}

.highlightImage {
  @mixin dark {
    box-shadow: 0px 0px 4px 1px rgba(242, 183, 22, 1);
  }
  @mixin light {
    box-shadow: 0px 0px 8px 3px rgba(24, 142, 245, 1);
  }
}
