.footer {
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-top: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-sm);
}

.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: light-dark(black, var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
    color: light-dark(black, white);
  }
}

.chevron {
  transition: transform 200ms ease;
}

.oldLink {
  @mixin dark {
    color: var(--mantine-color-dark-0);
  }
}

.logoText {
  color: light-dark(var(--mantine-color-dark-9), white);
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: rem(31px);
  margin-left: rem(30px);
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  border-left: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
    color: light-dark(black, white);
  }
}

.navbar {
  background-color: light-dark(#ffffff, #1f1f1f);
}

.control2 {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 999px;
  padding-left: rem(6);
  padding-right: rem(8);
  width: rem(136);
  height: rem(36);
}

.iconWrapper {
  height: rem(28);
  width: rem(28);
  border-radius: rem(28);
  background-color: light-dark(
    var(--mantine-color-dark-4),
    var(--mantine-color-yellow-4)
  );
  color: light-dark(var(--mantine-color-blue-2), black);
}

.value {
  line-height: 1;
}

.shellFooter {
  margin-bottom: 32px;
  @media (min-width: $mantine-breakpoint-sm) {
    margin-bottom: -6px;
  }
}
