[package]
name = "external-utils"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
reqwest = { workspace = true }
sea-orm = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
common-utils = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["tracing"]
