[package]
name = "session-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true }
rand = { workspace = true }

cache-service = { path = "../cache" }
dependent-models = { path = "../../models/dependent" }
supporting-service = { path = "../supporting" }
