[package]
name = "importer-service"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
application-utils = { path = "../../utils/application" }
async-graphql = { workspace = true }
background = { path = "../../background" }
chrono = { workspace = true }
chrono-tz = { workspace = true }
convert_case = { workspace = true }
csv = { workspace = true }
data-encoding = { workspace = true }
enum_meta = { workspace = true }
env-utils = { path = "../../utils/env" }
external-utils = { path = "../../utils/external" }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enums = { path = "../../enums" }
fitness-models = { path = "../../models/fitness" }
flate2 = { workspace = true }
importer-models = { path = "../../models/importer" }
itertools = { workspace = true }
media-models = { path = "../../models/media" }
nanoid = { workspace = true }
providers = { path = "../../providers" }
reqwest = { workspace = true }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
sea-orm = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
serde-xml-rs = { workspace = true }
specific-models = { path = "../../models/specific" }
supporting-service = { path = "../supporting" }
tracing = { workspace = true }
traits = { path = "../../traits" }

[package.metadata.cargo-machete]
ignored = ["tracing"]
