[package]
name = "importer-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
application-utils = { path = "../../utils/application" }
async-graphql = { workspace = true }
background-models = { path = "../../models/background" }
chrono = { workspace = true }
chrono-tz = { workspace = true }
convert_case = { workspace = true }
csv = { workspace = true }
data-encoding = { workspace = true }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enum_meta = { workspace = true }
enum-models = { path = "../../models/enum" }
env-utils = { path = "../../utils/env" }
external-models = { path = "../../models/external" }
external-utils = { path = "../../utils/external" }
fitness-models = { path = "../../models/fitness" }
flate2 = { workspace = true }
futures = { workspace = true }
importer-models = { path = "../../models/importer" }
indexmap = { workspace = true }
itertools = { workspace = true }
media-models = { path = "../../models/media" }
nest_struct = { workspace = true }
providers = { path = "../../providers" }
reqwest = { workspace = true }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
sea-orm = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
serde-xml-rs = { workspace = true }
supporting-service = { path = "../supporting" }
tracing = { workspace = true }
traits = { path = "../../traits" }

[package.metadata.cargo-machete]
ignored = ["tracing"]
