[package]
name = "supporting-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
apalis = { workspace = true }
bon = { workspace = true }
chrono = { workspace = true }
chrono-tz = { workspace = true }
sea-orm = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
unkey = { workspace = true }

background-models = { workspace = true }
common-utils = { workspace = true }
config-definition = { workspace = true }
env-utils = { path = "../../utils/env" }

[package.metadata.cargo-machete]
ignored = ["tracing"]
