[package]
name = "supporting-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
apalis = { workspace = true }
bon = { workspace = true }
chrono = { workspace = true }
chrono-tz = { workspace = true }
sea-orm = { workspace = true }

background-models = { workspace = true }
config-definition = { workspace = true }
