---
import SectionTitle from "@/components/SectionTitle.astro";
import SideBySide from "@/components/SideBySide.astro";
import type { AdvantagesData } from "@/config/landing.interface";

interface Props {
	data: AdvantagesData;
}

const { data } = Astro.props;
---

<section id="adventajes-section" class="flex flex-col mb-20 gap-y-28">
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div>
    {
      data.adventajes.map((adventaje, idx) => (
        <SideBySide data={adventaje} reversed={(idx + 1) % 2 === 0} />
      ))
    }
  </div>
</section>
