---
import Action from "@/components/Action.astro";
import Icon from "@/components/Icon.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type { BrandsData, Icon as IconType } from "@/config/landing.interface";

interface Props {
	data: BrandsData;
}

const { data } = Astro.props;
---

<section
  class="flex flex-col justify-between gap-y-10 md:gap-y-0 md:gap-x-7 md:flex-row mb-20 w-full"
>
  <div class="w-11/12 flex flex-col gap-y-6">
    <SectionTitle>
      {data.title}
    </SectionTitle>
    <p class="text-lg text-center md:text-start md:text-xl">
      {data.description}
    </p>
  </div>
  <div
    class="grid grid-cols-2 md:grid-cols-3 gap-y-8 w-full justify-items-center"
  >
    {
      data.brands.map((brand) => (
        <div class="md:grayscale hover:grayscale-0 hover:scale-110 transition">
          <Action as="a" href={brand.href} title={brand.icon} target="_blank">
            <Icon icon={brand.icon as IconType} />
          </Action>
        </div>
      ))
    }
  </div>
</section>
