[package]
name = "fitness-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
const-str = { workspace = true }
futures = { workspace = true }
nanoid = { workspace = true }
reqwest = { workspace = true }
sea-orm = { workspace = true }
sea-query = { workspace = true }
tracing = { workspace = true }

background-models = { path = "../../models/background" }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
dependent-core-utils = { path = "../../utils/dependent/core" }
dependent-utility-utils = { path = "../../utils/dependent/utility" }
database-utils = { path = "../../utils/database" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enum-models = { path = "../../models/enum" }
file-storage-service = { path = "../../services/file-storage" }
fitness-models = { path = "../../models/fitness" }
supporting-service = { path = "../supporting" }

[package.metadata.cargo-machete]
ignored = ["tracing"]
