[package]
name = "fitness-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
const-str = { workspace = true }
futures = { workspace = true }
nanoid = { workspace = true }
reqwest = { workspace = true }
sea-orm = { workspace = true }
tracing = { workspace = true }

background-models = { workspace = true }
common-models = { workspace = true }
common-utils = { workspace = true }
database-models = { workspace = true }
dependent-core-utils = { workspace = true }
dependent-fitness-utils = { workspace = true }
dependent-utility-utils = { workspace = true }
database-utils = { workspace = true }
dependent-models = { workspace = true }
enum-models = { workspace = true }
fitness-models = { workspace = true }
supporting-service = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["tracing"]
