[package]
name = "fitness-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
background-models = { path = "../../models/background" }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
const-str = { workspace = true }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enum-models = { path = "../../models/enum" }
fitness-models = { path = "../../models/fitness" }
futures = { workspace = true }
nanoid = { workspace = true }
reqwest = { workspace = true }
sea-orm = { workspace = true }
sea-query = { workspace = true }
supporting-service = { path = "../supporting" }
tracing = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["tracing"]
