[package]
name = "miscellaneous-general-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
rust_decimal = { workspace = true }
sea-orm = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }

cache-service = { path = "../../cache" }
database-models = { workspace = true }
dependent-models = { workspace = true }
enum-models = { workspace = true }
media-models = { workspace = true }
supporting-service = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["rust_decimal", "tracing"]
