[package]
name = "user-service"
version = "0.1.0"
edition = "2024"

[dependencies]
aes-gcm = { workspace = true }
anyhow = { workspace = true }
argon2 = { workspace = true }
chrono = { workspace = true }
data-encoding = { workspace = true }
enum_meta = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
nanoid = { workspace = true }
openidconnect = { workspace = true }
rand = { workspace = true }
ring = { workspace = true }
sea-orm = { workspace = true }
subtle = { workspace = true }
tokio = { workspace = true }
totp-lite = { workspace = true }
tracing = { workspace = true }

application-utils = { workspace = true }
cache-service = { workspace = true }
common-models = { workspace = true }
common-utils = { workspace = true }
database-models = { workspace = true }
dependent-collection-utils = { workspace = true }
dependent-core-utils = { workspace = true }
dependent-entity-utils = { workspace = true }
dependent-notification-utils = { workspace = true }
database-utils = { workspace = true }
dependent-models = { workspace = true }
enum-models = { workspace = true }
media-models = { workspace = true }
notification-service = { workspace = true }
session-service = { workspace = true }
supporting-service = { workspace = true }
traits = { workspace = true }
user-models = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["tracing"]
