[package]
name = "user-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
argon2 = { workspace = true }
chrono = { workspace = true }
enum_meta = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
nanoid = { workspace = true }
openidconnect = { workspace = true }
rand = { workspace = true }
sea-orm = { workspace = true }
totp-lite = { workspace = true }
tracing = { workspace = true }

application-utils = { path = "../../utils/application" }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enum-models = { path = "../../models/enum" }
jwt-service = { path = "../../services/jwt" }
media-models = { path = "../../models/media" }
notification-service = { path = "../../services/notification" }
supporting-service = { path = "../supporting" }
user-models = { path = "../../models/user" }

[package.metadata.cargo-machete]
ignored = ["tracing"]
