[package]
name = "user-service"
version = "0.1.0"
edition = "2024"

[dependencies]
argon2 = { workspace = true }
async-graphql = { workspace = true }
application-utils = { path = "../../utils/application" }
chrono = { workspace = true }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enum_meta = { workspace = true }
enum-models = { path = "../../models/enum" }
futures = { workspace = true }
itertools = { workspace = true }
jwt-service = { path = "../../services/jwt" }
media-models = { path = "../../models/media" }
nanoid = { workspace = true }
notification-service = { path = "../../services/notification" }
openidconnect = { workspace = true }
rand = { workspace = true }
sea-orm = { workspace = true }
supporting-service = { path = "../supporting" }
tracing = { workspace = true }
user-models = { path = "../../models/user" }

[package.metadata.cargo-machete]
ignored = ["tracing"]
