[package]
name = "exporter-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true }
itertools = { workspace = true }
mime_guess = { workspace = true }
nanoid = { workspace = true }
reqwest = { workspace = true }
sea-orm = { workspace = true }
struson = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
tracing = { workspace = true }

background-models = { path = "../../models/background" }
common-models = { workspace = true }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
dependent-models = { path = "../../models/dependent" }
dependent-entity-list-utils = { path = "../../utils/dependent/entity-list" }
enum-models = { path = "../../models/enum" }
file-storage-service = { path = "../../services/file-storage" }
fitness-models = { path = "../../models/fitness" }
media-models = { path = "../../models/media" }
supporting-service = { path = "../supporting" }

[package.metadata.cargo-machete]
ignored = ["tracing"]
