[package]
name = "dependent-analytics-utils"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true }
futures = { workspace = true }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
sea-orm = { workspace = true }
serde = { workspace = true }
tracing = { workspace = true }

application-utils = { workspace = true }
cache-service = { workspace = true }
common-models = { workspace = true }
common-utils = { workspace = true }
database-models = { workspace = true }
dependent-entity-list-utils = { workspace = true }
dependent-models = { workspace = true }
dependent-utility-utils = { workspace = true }
enum-models = { workspace = true }
media-models = { workspace = true }
supporting-service = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["rust_decimal", "tracing"]
