[package]
name = "integration-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true }
chrono-tz = { workspace = true }
convert_case = { workspace = true }
eventsource-stream = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
rustypipe = { workspace = true }
sea-orm = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }

application-utils = { workspace = true }
cache-service = { workspace = true }
common-models = { workspace = true }
common-utils = { workspace = true }
database-models = { workspace = true }
database-utils = { workspace = true }
dependent-core-utils = { workspace = true }
dependent-details-utils = { workspace = true }
dependent-import-utils = { workspace = true }
dependent-entity-utils = { workspace = true }
dependent-models = { workspace = true }
dependent-notification-utils = { workspace = true }
dependent-provider-utils = { workspace = true }
enum-models = { workspace = true }
external-models = { workspace = true }
external-utils = { workspace = true }
google-books-provider = { workspace = true }
hardcover-provider = { workspace = true }
media-models = { workspace = true }
openlibrary-provider = { workspace = true }
supporting-service = { workspace = true }
traits = { workspace = true }
