[package]
name = "integration-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
application-utils = { path = "../../utils/application" }
chrono = { workspace = true }
chrono-tz = { workspace = true }
common-models = { path = "../../models/common" }
convert_case = { workspace = true }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enum-models = { path = "../../models/enum" }
eventsource-stream = { workspace = true }
external-models = { path = "../../models/external" }
external-utils = { path = "../../utils/external" }
futures = { workspace = true }
hardcover-provider = { path = "../../providers/hardcover" }
itertools = { workspace = true }
media-models = { path = "../../models/media" }
providers = { path = "../../providers" }
regex = { workspace = true }
reqwest = { workspace = true }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
rustypipe = { workspace = true }
sea-orm = { workspace = true }
sea-query = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
supporting-service = { path = "../supporting" }
tokio = { workspace = true }
tracing = { workspace = true }
traits = { path = "../../traits" }
url = { workspace = true }
uuid = { workspace = true }
