[package]
name = "integration-service"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
apalis = { workspace = true }
application-utils = { path = "../../utils/application" }
async-graphql = { workspace = true }
background = { path = "../../background" }
chrono = { workspace = true }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
config = { path = "../../config" }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
enums = { path = "../../enums" }
eventsource-stream = "=0.2.3"
media-models = { path = "../../models/media" }
providers = { path = "../../providers" }
radarr-api-rs = "=3.0.1"
regex = { workspace = true }
reqwest = { workspace = true }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
sea-orm = { workspace = true }
sea-query = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sonarr-api-rs = "=3.0.0"
specific-models = { path = "../../models/specific" }
tokio = { workspace = true }
tracing = { workspace = true }
traits = { path = "../../traits" }

[package.metadata.cargo-machete]
ignored = ["tracing"]
