[package]
name = "integration-service"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
application-utils = { path = "../../utils/application" }
async-graphql = { workspace = true }
chrono = { workspace = true }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enums = { path = "../../enums" }
eventsource-stream = { workspace = true }
external-utils = { path = "../../utils/external" }
itertools = { workspace = true }
media-models = { path = "../../models/media" }
providers = { path = "../../providers" }
radarr-api-rs = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true }
rust_decimal = { workspace = true }
rust_decimal_macros = { workspace = true }
sea-orm = { workspace = true }
sea-query = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sonarr-api-rs = { workspace = true }
specific-models = { path = "../../models/specific" }
specific-utils = { path = "../../utils/specific" }
supporting-service = { path = "../supporting" }
tokio = { workspace = true }
tracing = { workspace = true }
traits = { path = "../../traits" }
uuid = { workspace = true }
