{
	admin off
	auto_https off
}

:{$PORT:8000} {
	vars {
		frontend_url {$CADDY_FRONTEND_TARGET:127.0.0.1:3000}
		backend_url {$CADDY_BACKEND_TARGET:127.0.0.1:5000}
	}

	handle_path /_i/* {
		rewrite * /webhooks/integrations{path}
		reverse_proxy {vars.backend_url}
	}
	handle_path /u/* {
		rewrite * /api/sharing{path}?isAccountDefault=true
		reverse_proxy {vars.frontend_url}
	}
	handle_path /_s/* {
		rewrite * /api/sharing{path}
		reverse_proxy {vars.frontend_url}
	}
	handle_path /backend* {
		reverse_proxy {vars.backend_url}
	}
	handle /health {
		header Content-Type text/plain
		templates
		respond <<TXT
			{{ httpInclude "/actions" }}
			{{ httpInclude "/backend/config" }}
		TXT
	}
	@assets {
		path /assets/*
	}
	handle @assets {
		header Cache-Control "public, max-age=31536000, immutable"
		reverse_proxy {vars.frontend_url}
	}
	@images {
		path *.png *.jpg *.jpeg *.gif *.svg *.webp *.ico
	}
	handle @images {
		header Cache-Control "public, max-age=604800"
		reverse_proxy {vars.frontend_url}
	}
	reverse_proxy {vars.frontend_url}
}
