{
	admin off
	auto_https off
}

:{$PORT:8000} {
	handle_path /_i/* {
		rewrite * /webhooks/integrations{path}
		reverse_proxy localhost:5000
	}
	handle_path /backend* {
		reverse_proxy localhost:5000
	}
	handle /health {
		header Content-Type text/plain
		templates
		respond <<TXT
			{{ httpInclude "/backend/config" }}
			{{ httpInclude "/auth" }}
		TXT
	}
	reverse_proxy localhost:3000
}
