{
	admin off
	auto_https off
}

:{$PORT:8000} {
	vars {
		frontend_url "127.0.0.1:3000"
		backend_url "127.0.0.1:5000"
	}

	handle_path /_i/* {
		rewrite * /webhooks/integrations{path}
		reverse_proxy {vars.backend_url}
	}
	handle_path /backend* {
		reverse_proxy {vars.backend_url}
	}
	handle /health {
		header Content-Type text/plain
		templates
		respond <<TXT
			{{ httpInclude "/actions" }}
			{{ httpInclude "/backend/config" }}
		TXT
	}
	reverse_proxy 127.0.0.1:3000
}
