app = "ryot"
primary_region = "ord"

[build]
image = "ignisda/ryot:latest"

[http_service]
internal_port = 8000
force_https = true
processes = ["app"]

[[http_service.checks]]
grace_period = "5s"
interval = "5s"
method = "GET"
timeout = "5s"
path = "/backend/config"
