<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-08-30T17:28:14Z</date>
	<key>WorkspacePath</key>
	<string>/Users/diptesh/Desktop/Personal/ryot/kernel/client/ios/App/App.xcodeproj</string>
</dict>
</plist>
