[package]
name = "collection-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
sea-orm = { workspace = true }
sea-query = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }

application-utils = { path = "../../utils/application" }
background-models = { path = "../../models/background" }
cache-service = { path = "../cache" }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
dependent-utility-utils = { path = "../../utils/dependent/utility" }
dependent-models = { path = "../../models/dependent" }
dependent-utils = { path = "../../utils/dependent" }
enum-models = { path = "../../models/enum" }
media-models = { path = "../../models/media" }
migrations = { path = "../../migrations" }
supporting-service = { path = "../supporting" }

[package.metadata.cargo-machete]
ignored = ["rust_decimal", "tracing"]
