[package]
name = "collection-service"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
sea-orm = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }

application-utils = { workspace = true }
background-models = { workspace = true }
cache-service = { workspace = true }
common-models = { workspace = true }
common-utils = { workspace = true }
database-models = { workspace = true }
database-utils = { workspace = true }
dependent-collection-utils = { workspace = true }
dependent-entity-list-utils = { workspace = true }
dependent-entity-utils = { workspace = true }
dependent-notification-utils = { workspace = true }
dependent-utility-utils = { workspace = true }
dependent-models = { workspace = true }
enum-models = { workspace = true }
media-models = { workspace = true }
migrations = { workspace = true }
supporting-service = { workspace = true }

[package.metadata.cargo-machete]
ignored = ["rust_decimal", "tracing"]
