[package]
name = "collection-service"
version = "0.1.0"
edition = "2021"

[dependencies]
application-utils = { path = "../../utils/application" }
async-graphql = { workspace = true }
common-models = { path = "../../models/common" }
common-utils = { path = "../../utils/common" }
database-models = { path = "../../models/database" }
database-utils = { path = "../../utils/database" }
dependent-utils = { path = "../../utils/dependent" }
dependent-models = { path = "../../models/dependent" }
enums = { path = "../../enums" }
media-models = { path = "../../models/media" }
migrations = { path = "../../migrations" }
sea-orm = { workspace = true }
sea-query = { workspace = true }
supporting-service = { path = "../supporting" }
