---
import type { Icon } from "@/config/landing.interface";
import GithubIcon from "@/icons/socials/GithubIcon.astro";
import TwitterIcon from "@/icons/socials/TwitterIcon.astro";
import DiscordIcon from "@/icons/socials/DiscordIcon.astro";

interface Props {
	icon: Icon;
	class?: string;
}

const { icon, class: className } = Astro.props;

const icons = [GithubIcon, TwitterIcon, DiscordIcon];

const figures: Record<string, (_props: Record<string, unknown>) => unknown> =
	{};

icons.map((item) => {
	figures[item.name] = item;
});

const Figure = figures[icon];
---

{Figure ? <Figure class:list={[className]} /> : <p>Icon not found</p>}
