@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700;800&family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
@import "@mantine/core/styles.css";
@import "mantine-datatable/styles.css";

html,
body,
#app {
	min-height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}
