name: Main

on:
  push:
    branches: ["main"]
    tags:
      - "*-?v[0-9]+*"
  pull_request:
    branches: ["main"]
    types: [opened, synchronize]

permissions:
  contents: read

env:
  GHCR_REGISTRY: ghcr.io
  DOCKER_USERNAME: ignisda

jobs:
  pre-workflow-checks:
    runs-on: ubuntu-latest
    outputs:
      should-run: ${{ steps.set_outputs.outputs.should-run }}
      image-names: ${{ steps.set_outputs.outputs.image-names }}
      should-release: ${{ steps.set_outputs.outputs.should-release }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 2
          persist-credentials: false
      - name: Set outputs
        id: set_outputs
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        with:
          script: |
            const repositoryName = context.payload.repository.name;
            const owner = context.repo.owner;
            const ghcrRegistry = process.env.GHCR_REGISTRY;
            const dockerUsername = process.env.DOCKER_USERNAME;

            let imageNames = [
              `name=${dockerUsername}/${repositoryName}`,
              `name=${ghcrRegistry}/${owner}/${repositoryName}`,
              `name=${dockerUsername}/${repositoryName}-pro`,
              `name=${ghcrRegistry}/${owner}/${repositoryName}-pro`,
            ];

            let shouldRun = 'false';
            if (context.eventName === "push") {
              shouldRun = 'true';
            } else if (context.eventName === "pull_request") {
              const commitMsg = await github.rest.repos.getCommit({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: context.payload.pull_request.head.sha
              }).then(commit => commit.data.commit.message);
              if (commitMsg.includes("Run CI")) {
                shouldRun = 'true';
              }
            }

            core.setOutput('should-run', shouldRun);

            const shouldRelease = (context.eventName === "push" && context.ref.startsWith("refs/tags/")) ? 'true' : 'false';
            core.setOutput('should-release', shouldRelease);

            core.setOutput('image-names', imageNames.join('\n'));

  create-release:
    needs:
      - pre-workflow-checks
    if: needs.pre-workflow-checks.outputs.should-release == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@d552ecf3366cf9d6da9fd7dbe425325d3d095aa8
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631
        with:
          body: |
            ## What's Changed
            ${{ steps.changelog.outputs.changelog }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-backend:
    needs:
      - pre-workflow-checks
    if: needs.pre-workflow-checks.outputs.should-run == 'true'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - target: x86_64-unknown-linux-gnu
          - target: aarch64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - name: Extract build information
        id: build
        env:
          TARGET: ${{ matrix.platform.target }}
        run: |
          echo "version=${GITHUB_REF##*/}" >> "$GITHUB_OUTPUT"
          echo "docker-arch=${{ startsWith(matrix.platform.target, 'x86_64') && 'amd64' || 'arm64' }}" >> "$GITHUB_OUTPUT"
      - name: Extract rust toolchain
        id: toolchain
        run: |
          echo "channel=$(grep channel rust-toolchain.toml | awk -F' = ' '{printf $2}' | tr -d '"')" >> "$GITHUB_OUTPUT"
      - uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0
        with:
          toolchain: ${{ steps.toolchain.outputs.channel }}
          targets: ${{ matrix.platform.target }}
      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6
        with:
          key: ${{ matrix.platform.target }}-${{ steps.build.outputs.profile }}
          save-if: ${{ github.event_name != 'pull_request' }}
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: target
          key: cargo-build-${{ runner.os }}-${{ matrix.platform.target }}-${{ hashFiles('Cargo.lock', 'rust-toolchain.toml') }}
          restore-keys: |
            cargo-build-${{ runner.os }}-${{ matrix.platform.target }}-
      - name: Install cross
        uses: taiki-e/cache-cargo-install-action@ad4edd4113c497b54a89ab6ae296cc2ee975cae0
        with:
          tool: cross
          git: https://github.com/cross-rs/cross
          rev: 51f46f296253d8122c927c5bb933e3c4f27cc317
          locked: false
      - name: Build
        env:
          UNKEY_ROOT_KEY: ${{ secrets.UNKEY_ROOT_KEY }}
          APP_VERSION: ${{ steps.build.outputs.version }}
        run: |
          cross build --locked --target ${{ matrix.platform.target }} --release
      - name: Upload build artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: backend-${{ steps.build.outputs.docker-arch }}
          path: ${{ github.workspace }}/target/${{ matrix.platform.target }}/release/backend
          retention-days: 1

  build-docker:
    needs:
      - pre-workflow-checks
      - build-backend
    if: needs.pre-workflow-checks.outputs.should-run == 'true'
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - name: Download build artifact for docker
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e
        with:
          path: ${{ github.workspace }}/artifact/
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2
      - name: Log in to the ghcr container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        continue-on-error: true
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to the docker hub container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        continue-on-error: true
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: ${{ needs.pre-workflow-checks.outputs.image-names }}
          tags: |
            type=ref,event=pr
            type=raw,value=develop,enable={{is_default_branch}}
            type=semver,pattern=v{{version}},enable=${{ needs.pre-workflow-checks.outputs.should-release == 'true' }}
            type=semver,pattern=v{{major}}.{{minor}},enable=${{ needs.pre-workflow-checks.outputs.should-release == 'true' }}
            type=semver,pattern=v{{major}},enable=${{ needs.pre-workflow-checks.outputs.should-release == 'true' }}
            type=raw,value=latest,enable=${{ needs.pre-workflow-checks.outputs.should-release == 'true' }}
            type=sha
      - name: Build and push
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25
        with:
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}

  upload-kodi-plugin:
    needs:
      - pre-workflow-checks
      - build-docker
    if: needs.pre-workflow-checks.outputs.should-release == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      MOON_TOOLCHAIN_FORCE_GLOBALS: true
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - name: Setup Moon
        uses: moonrepo/setup-toolchain@937d7dbbc1ec218aa8641c792d5821addebd9f03
        with:
          auto-install: true
      - name: Build plugin
        run: moon run kodi:build
      - name: Upload plugin to releases
        env:
          REF_NAME: ${{ github.ref_name }}
        run: gh release upload --clobber "${REF_NAME}" "tmp/script.ryot.zip"

  upload-browser-extensions:
    needs:
      - pre-workflow-checks
      - build-docker
    if: needs.pre-workflow-checks.outputs.should-release == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      MOON_TOOLCHAIN_FORCE_GLOBALS: true
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - name: Setup Moon
        uses: moonrepo/setup-toolchain@937d7dbbc1ec218aa8641c792d5821addebd9f03
        with:
          auto-install: true
      - name: Build browser extensions
        run: |
          moon run browser-extension:build
      - name: Upload browser extensions to releases
        env:
          REF_NAME: ${{ github.ref_name }}
        run: |
          gh release upload --clobber "${REF_NAME}" apps/browser-extension/dist/*.zip

  deploy-docs:
    needs:
      - pre-workflow-checks
      - build-docker
    if: needs.pre-workflow-checks.outputs.should-release == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      MOON_TOOLCHAIN_FORCE_GLOBALS: true
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - name: Setup Moon
        uses: moonrepo/setup-toolchain@937d7dbbc1ec218aa8641c792d5821addebd9f03
        with:
          auto-install: true
      - name: Build documentation
        run: moon run docs:build
      - name: Push to deployment branch
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: apps/docs/.vitepress/dist
          publish_branch: nf-docs
          force_orphan: true
