name: Release

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get docker image name
        id: image_name
        run: |
          image_name="${{ env.REGISTRY }}/${{ github.actor }}/ryot"
          image_names="$image_name:${{ github.ref_name }},$image_name:latest"
          # lowercase the name
          image_names=$(echo "$image_names" | tr '[:upper:]' '[:lower:]')
          echo "image_names=$image_names" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.image_name.outputs.image_names }}
